<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/styles.css">
    <meta http-equiv="refresh" content="2; url='/dashboard'" />
</head>
<body>
    
    <nav class="navbar">
        <div class="navbar__container">
            <a href="./index.html" id="navbar__logo">RTS - Volunteer Management</a>
            <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="https://www.catamilacademy.org/registration.html" class="navbar__links">Enroll</a>
                </li>
                <li class="navbar__item">
                    <a href="./login.html" class="navbar__links">Login</a>
                </li>
                <li class="navbar__btn">
                    <a href="./form.html" class="navbarbutton">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1>Information Submitted</h1>
    <p>You will be directed to another page momentarily</p>
    <a href="/dashboard.ejs">Click here if page does not redirect after 5 seconds.</a>
    <div class="footer">
        <div class="footer_sections">
          <h2>Contact Us</h2>
          <a href="mailto:rts.board@outlook.com">Email: rts.board@outlook.com</a>
          <br>
          <p class="website__rights">
            Copyright © 2024 Redmond Tamil School - All Rights Reserved.</p>
        </div>
        <div class="footer_sections">
            <h2>Events</h2>
            <p>School Introduction Day</p>
            <p>Tamil Evening Competitions</p>
            <p>Library</p>
            <p>Elocution Competitions</p>
            <p>Anniversary</p>
            <p>Pongal Festival</p>
            <p>Tamil Party</p>
            <p>Traditional Dress Day</p>
          </div>
          <div class="footer_sections">
            <h2>Follow Us</h2>
            <a href="https://instagram.com" class="socialmedialink" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-instagram"></i>
            </a>
            
            <a href="https://instagram.com" class="socialmedialink" target="_blank" rel="noopener noreferrer"></a>
            <i class="fa-brands fa-facebook"></i>

            <a href="https://instagram.com" class="socialmedialink" target="_blank" rel="noopener noreferrer"></a>
            <i class="fa-brands fa-x-twitter"></i>
            </a>

            <a href="https://instagram.com" class="socialmedialink" target="_blank" rel="noopener noreferrer"></a>
            <i class="fa-brands fa-youtube"></i>
            </a>

            <a href="https://instagram.com" class="socialmedialink" target="_blank" rel="noopener noreferrer"></a>
            <i class="fa-brands fa-linkedin"></i>
            </a>

            <a href="https://instagram.com" class="socialmedialink" target="_blank" rel="noopener noreferrer"></a>
            <i class="fa-brands fa-tiktok"></i>
            </a>

            <a href="https://instagram.com" class="socialmedialink" target="_blank" rel="noopener noreferrer"></a>
            <i class="fa-brands fa-reddit"></i>
            </a>
          </div>
      </div>
    </div>
</body>
</html>
