<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/styles.css">
    <meta http-equiv="refresh" content="2; url='index.html'" />
</head>
<body>
    <h1>Information Submitted</h1>
    <p>You will be directed to another page momentarily</p>
    <a href="/index.html">Click here if page does not redirect after 5 seconds.</a>
</body>
</html>
